asttokens==2.4.1
certifi==2024.2.2
charset-normalizer==3.3.2
colorama==0.4.6
comm==0.2.0
debugpy==1.8.0
decorator==5.1.1
executing==2.0.1
fuzzywuzzy==0.18.0
idna==3.7
ipykernel==6.27.1
ipython==8.18.1
jedi==0.19.1
jupyter_client==8.6.0
jupyter_core==5.5.0
matplotlib-inline==0.1.6
nest-asyncio==1.5.8
numpy==1.26.4
packaging==23.2
parso==0.8.3
platformdirs==4.0.0
prompt-toolkit==3.0.41
psutil==5.9.6
PuLP==2.8.0
pure-eval==0.2.2
Pygments==2.17.2
python-dateutil==2.8.2
pytz==2024.1
pywin32==306
pyzmq==25.1.1
rapidfuzz==3.9.0
requests==2.31.0
setuptools==68.2.2
six==1.16.0
stack-data==0.6.3
thefuzz==0.22.1
tornado==6.4
traitlets==5.14.0
urllib3==2.2.1
wcwidth==0.2.12
wheel==0.41.2
